<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your tasks</title>
    <link href="/style.css/" rel="stylesheet">
</head>

<body>
    <h1>To do List</h1>
    <h2>Add tasks. Be creative. Organice your time!</h2>
    <%= yield %>
    <footer>
    <p><small>I made a huge to do list for today. I just can't figure out who's going to do it</small></p>
  </footer>
</body>
</html>
